@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: rgb(245 245 245);
  --bg-secondary: rgb(250 250 250);
  --text-primary: rgb(31 41 55);
  --text-secondary: rgb(75 85 99);
  --accent-color: rgb(212 175 55);
  --accent-hover: rgb(227 196 104);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
    background-color: var(--bg-primary);
  }
  
  /* Container */
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}